<p id="notice"><%= notice %></p>

<h1>Comment Reactions</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Reaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_reactions.each do |comment_reaction| %>
      <tr>
        <td><%= comment_reaction.comment_id %></td>
        <td><%= comment_reaction.reaction %></td>
        <td><%= link_to 'Show', comment_reaction %></td>
        <td><%= link_to 'Edit', edit_comment_reaction_path(comment_reaction) %></td>
        <td><%= link_to 'Destroy', comment_reaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Reaction', new_comment_reaction_path %>
